<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body{
            background-color: wheat !important;
        }
        .PERM{
            height: 150px;
            width: 800px;
            background-color: aliceblue;
            text-align: center;
            margin-top: 150px;
            margin-left: 200px;
            padding: 10px;
            
        }
        .BUTTON{
            display : flex;
            margin-left: 300px;
        }
    </style>
</head>
<body>
    <div class="PERM ">
        <h2 style="margin-top: 10px !important;">PERMISSION FOR CAMERA ACCESS !!</h2>
        <div class="BUTTON">
          <button style="height: 50px; width: 70px;"  class="btn btn-dark">YES</button> </a>
          <i class="fa-sharp fa-solid fa-badge-check"></i>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button style="height: 50px; width: 70px;" class="btn btn-dark">NO</button>
        </div>
    </div>
</body>
</html>