<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
     body{
        background-color: aliceblue !important;
      }
        .learn{
            height: 150px;
            width: 200px;
            background-color: red;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top:200px ;
            margin-left: 70px;
        }
        .instruct{
            height: 150px;
            width: 200px;
            background-color: yellow;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top:200px ;
            margin-left: 70px;  
        }
        .box{
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;   
        }
        #box1{   
            margin-top: 50px;
            padding: 50px;
            color: white;
        }
        #box2{   
            margin-top: 50px;
            padding: 50px;
        }
    </style>
</head>
<body>
     <h2 style="color: rgb(64, 16, 238);"> CHOOSE WHAT YOU WANT !!</h2>
  <div class="box">
    <div class="lea ">
        <div class="learn">
           <a href="/learn"> <h3 id="box1">LEARN</h3>  </a>
        </div>
    </div>
    
    <div class="INS">
        <div class="instruct ">
           <a href="/instruct"><h3 id="box2">INTERACT</h3> </a>
        </div>
    </div>
  </div>
</body>
</html>