<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .UTUBE-LINK{
            display: flex;
            border: 1px solid black;
            margin-top: 100px;
        }
        body{
        background-color: rgb(221, 197, 151) !important;
      }
    </style>
</head>
<body>
    <div class="UTUBE-LINK">
        <iframe width="9000" height="315" src="https://www.youtube.com/embed/HOA0H7icyCQ?si=Rm4YU32AbybiwHzv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    
    </div>
    <div class="UTUBE-LINK">
       
        <h2 style="margin-left: 380px;" >VIDEO WITHOUT VOICE !!</h2>
    </div>
</body>
</html>